.boxes div.selected.white {
    background: white;
}

.boxes div.selected.silver {
    background: silver;
}

.boxes div.selected.black {
    background: black;
}

.boxes div.selected.red {
    background: red;
}

.boxes div.selected.orange {
    background: orange;
}

.boxes div.selected.yellow {
    background: yellow;
}

.boxes div.selected.green {
    background: green;
}

.boxes div.selected.blue {
    background: blue;
}

.boxes div.selected.deepskyblue {
    background: deepskyblue;
}

.boxes div.selected.purple {
    background: purple;
}
