.white {
    color: white;
}

.silver {
    color: silver;
}

.black {
    color: black;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.deepskyblue {
    color: deepskyblue;
}

.purple {
    color: purple;
}
