@font-face {
    font-family: "mame";
    src: url("/HouseOfStoryteller/public/css/font/mamelon.otf");
}
@font-face {
    font-family: "inishie";
    src: url("/HouseOfStoryteller/public/css/font/inishie.otf");
}
