* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

#mmm {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    background-color: white;
    border-radius: 10px;
}

#map-maker {
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
section.demo .box-wrap {
    width: 1000px;
    height: 1000px;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 20px;
    padding: 1em 0;
}
section.demo .box-wrap.blue {
    margin-bottom: 3em;
}
.box-wrap::after {
    display: block;
    content: "";
    clear: both;
}
.boxes div {
    height: 2.6em;
    width: 2.6em;
    margin: 0.2em;
    background: white;
    border: 2px solid transparent;
    border-radius: 0.15em;
    transition: all 0.3s;
    cursor: pointer;
}
.boxes div.selected {
    border: 2px solid rgba(0, 0, 0, 0.075);
}
.selection {
    background: rgba(46, 115, 252, 0.11);
    border-radius: 0.1em;
    border: 2px solid rgba(98, 155, 255, 0.81);
}

#pallet {
    width: 15vw;
    height: 58vw;
    background-color: gainsboro;
    margin-left: 20px;
    border-radius: 10px;
}
#color-pallet {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}
#color {
    width: 95%;
    height: 100%;
    margin: 20px auto 0;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-evenly;
}
.color-box {
    border: 2px solid gainsboro;
    background-color: white;
    width: 3.5vw;
    height: 3.5vw;
    margin: 2% 3%;
    border-collapse: collapse;
}
input[type="radio"] {
    display: none;
}
